#include <windows.h>
#include "resource.h"

IDI_COOP_LAUNCHER ICON "cover.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "TH12 Co-op Project\0"
            VALUE "FileDescription", "TH12 Co-op Launcher\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "coop-launcher\0"
            VALUE "OriginalFilename", "coop-launcher.exe\0"
            VALUE "ProductName", "TH12 Co-op LAN\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END

